<ul class="dropdown-menu">
    {% for groupCategory in groupCategories %}
        <li class="nav-header">{{groupCategory.name}}</li>
        {% for category in groupCategory.categories %}
        <li><a href="{{ path('category_cards', {'slug': category.slug}) }}">{{category.name}}</a></li>
        {% endfor%}
    {% else %}            
            
    {% endfor %}
</ul>