 {% extends 'CardsBundle:Includes:index.html.twig' %}
 {% block content %}
{% include "CardsBundle:Home:carousel.html.twig" %}
<div class="container">        
{% for cardCategory in cardsCategories %}
        <div class="well">
            <div id="myCarousel" class="carousel slide">
                <div class="section_header"><h3>{{cardCategory.name}}</h3></div>
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row-fluid">
                        {% for card in cardCategory.cards %}
                                <div class="span3"><a href="#x" class="thumbnail"><img src="{{ app.request.getBasePath }}/{{card.filename}}" alt="Image" style="max-width:100%;" /></a></div>
                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                            <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
                        </div>
                    </div>
{% endfor %}

                </div>

{% endblock %}