{% extends 'CardsBundle:Includes:index.html.twig' %}
{% block content %}
<div class="container marketing">
    <h3>Ultimas Postales</h3>
    {% for card in cards %}
    <div class="row">
            <div class="span4">
                <a href="{{ path('card_shipping_register', {'id': card.id}) }}"><img class="img-circle" style="width: 180px; height: 180px;" src="{{ app.request.getBasePath }}/{{card.filename}}" alt="Image" style="max-width:100%;" /></a>
                <h2>{{card.name}}</h2>
            </div><!-- /.span4 -->
    {% endfor %}
 </div>
{% endblock %}