<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">Ecards 2013</a>
            <div class="nav-collapse collapse">
                <p class="navbar-text pull-right">
                    Bienvenido <a href="{{ path('_admin_logout') }}" class="navbar-link">{{ app.user.nombres }}</a>
                </p>
                <ul class="nav">
                    <li class=""><a href="#" class="active">Acerca de</a></li>                            
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>