<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Documento sin título</title>
        <style type="text/css">
                body{background:#f7f7f7; margin:10px 0}
                table {font-family:Arial; font-size:12px;color:#474747;line-height:20px;background:#FFFFFF;}
                table a{ color:#0081d9; text-decoration:underline}
                table td.titulo1{border-bottom:1px dashed #ddd;padding-left:5px;color:#F6751F;font-weight:700;font-size:14px}
            </style>
        </head>
        <body>
            <table border="0" cellpadding="0" width="80%" cellspacing="0" align="center">      
                <tr>
                    <td>Hola, {{card.recipientName}}</td>
                </tr>
                <tr>
                    <td>{{card.remitterName}} ha creado para ti una tarjeta virtual </td>
                </tr>
                <tr>
                    <td>
                        Para ver tu tarjeta puedes:<br/>
                        Esta es la dirección de la tarjeta que recibiste: <a href="{{url_mailing}}">{{url_mailing}}</a>
                    </td>
                </tr>
            </table>
        </body>
    </html>